.container {
  background-color: #A8DADC;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  max-width: 400px;
  padding: 30px;
  text-align: center;
}

h1 {
  color: #E63946;
  font-size: 36px;
  margin-bottom: 30px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  background-color: #F1FAEE;
  border: none;
  border-radius: 5px;
  color: #457B9D;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 95%;
}

input[type="submit"] {
  background-color: #E63946;
  border: none;
  border-radius: 5px;
  color: #F1FAEE;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #1D3557;
}
